.BarTopBlock{
  flex-grow: 1;
  display: none;
}
.main {
  height: 96px;
  .main__nav {
    box-shadow: 0 3px 80px rgba(23, 24, 32, 0.2);
    background-color: #2196f3;
    color: #fff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 92px;
    letter-spacing: 0.36px;
    .main__nav__menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .main__nav__left-menu {
        display: flex;
        .main__nav__left-menu__item {
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin-left: 25px;
          .main__nav__left-menu__link {
            text-decoration: none;
            color: #ffffff;
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 400;
            line-height: 92px;
            letter-spacing: 0.36px;
            margin-right: 5px;
          }
          .main__nav__left-menu__link[class$="sent"],
          .main__nav__left-menu__link[class$="delete"] {
            color: #2b2d3c;
          }
        }

      }
      .main__nav__right-menu {
        display: flex;
        .main__nav__right-menu__item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-right: 25px;
          .main__nav__right-menu__link {
            text-decoration: none;
            color: #fff;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 400;
            line-height: 92px;
            /* Text style for "D, ate" */
            letter-spacing: 0.32px;
          }
          .filter-btn {
            width: 157px;
            height: 36px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-radius: 18px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            background-color: #2196f3;
          }
        }
      }
    }
  }
 }