*, *::before, *::after {
  box-sizing: border-box;
}
::-webkit-scrollbar { 
    width: 0px;  
    background: transparent;  
}

body {
  margin: 0; padding: 0; background-color: #2f3242;
}
ul {
  margin: 0; padding: 0;list-style: none;
}
.container {
  width: 100%; margin: 0 auto;
}

.aside {
  box-shadow: 0 3px 80px rgba(23, 24, 32, 0.2);
  background-color: #2f3242;
  padding: 20px;
  .aside__nav {
    .aside__nav__menu {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      .aside__nav__menu__item:not(:first-child) {
        margin-top: 50px;
        .aside__nav__menu__link {
        }
      }
    }
  }
}