.messagerBlock {
  display: flex;
  flex-direction: row;
 
}

.joinBlocks{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.joinConMesProf {
	display: flex;
	flex-direction: row;
	width: 100%;
}