.updateUserInfo{
	width: 20%;
	height: auto;
	background-color: #2b2d3c;
	font-size: 16px;
	color: #9ea3b4;
	div{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	p{
		display: flex;
		justify-content: center;
		padding: 0;
		margin: 0;
		margin-top: 12px;
		text-align: center;
		word-break: break-all;
	}

	&_wraper{
		justify-content: flex-start;
		align-items: flex-start;
		padding: 30px 15px;
	}

	&_avatar{
		min-width: 15ex;
		min-height: 15ex;
		background-color: #fff;
		border-radius: 50%;
		margin-bottom: 30px;
	}

	&_name{
		color: #fff;
		font-size: 22px;
		font-weight: bold;
		width: 100%;
	}

	&_position{
		margin-bottom: 20px;
		width: 100%;
		p{
			margin-top: 5px;
		}
	}

	&_description{
		margin-bottom: 35px;
		width: 100%;
	}

	&_email{
		margin-bottom: 22px;
		width: 100%;
		p{
			color: #fff;
		}
	}

	&_phone{
		margin-bottom: 22px;
		p{
			color: #fff;
		}
	}

	&_address{
		margin-bottom: 22px;
		p{
			color: #fff;
		}
	}

	&_organization{
		p{
			color: #fff;
		}

	}
	
}